/* .wrapper-popup {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    display: none;
}

.popup {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: none;
} */

.choice {
    width: 960px;
    margin: 0 auto;
    text-align: center;;
}

button {
    border: none;
    padding: 30px 50px;
    margin: 20px;
    text-transform: uppercase;
    font-size: 1rem;
}

